body{
    margin: 0;
    font-family: 'Geologica', sans-serif;
}
header{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    color: #495057;
    font-size: 1.3em;
}
.container{
    width: 50%;
    height: 60vh;
    border: 1px solid #495057;
    margin: 0 auto;
}
.header_content{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header_pic img{
    height: 100px;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}
li{
    padding-left: 30px;
    margin: 0;
    padding-top: 35px;
    position: relative;
}
li img{
    width: 18px;
    padding-right: 5px;
}
li::before{
    content: "";
    height: 2px;
    background-color: #ec172c;
    width: 0;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 45px;
    transition: width 0.5s;
}
li:hover::before{
    width: 80%;
}
.link{
    text-decoration: none;
    color: #495057;
}
.dropdown{
    width: 50%;
    visibility: hidden;
    position: absolute;
    margin-left: 25%;
    display: flex;
    background: whitesmoke;
    color: #495057;
    border-radius: 0 0 15px 15px;
}
.dropdown_img{
    width: 200px;
    border-radius: 20px;
}
.left{
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    padding-top: 40px;
}
.right{
    flex: 2;
    display: flex;
}
.game {
    flex: 1;
    font-size: larger;
    text-align: center;
}
.game:hover{
    text-decoration: underline;
}
.game:hover::after{
    content: url("Images/play.png");
    position: absolute;
    bottom: -3px;
    padding-left: 2px;
}
.play_sign{
    width: 16px;
    visibility: hidden;
}
.dropdown_img:hover{
    transition: 0.5s;
    transform: scale(1.05);
}
.p_left{
    padding-left: 15px;
    font-size: larger;
}
.p_left:hover{
    text-decoration: underline;
}

/*Стиль фразы*/

.phrase_div{
    width: 100%;
    height: 100%;
    background: #bbbbbb;
}
.phrase{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.phrase1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Geologica', sans-serif;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*оформление колонок*/
.container_cv{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.left_cv{
    flex: 1;
    border: 1px solid black;
}
.right_cv{
    flex: 1;
    border: 1px solid black;
}
.pic img{
    width: 20%;
    padding: 3% 3% 0 3%;
    float: left;
    height: 150px;
    object-fit:cover;
}
.header_cv{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d2cccc;
    border-radius: 25px;
}
.header_cv p{
    margin: 2%;
}
.name_cv{
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Geologica', sans-serif;
}
.contacts_cv a img{
    width: 24px;
}
.contacts_cv_social{
    display: flex;
    align-items: center;
}
.contacts_cv_social a{
    padding-left: 2%;
}
.education, .job_experience, .about_me{
    padding: 0 3%;
    color: #505050;
    margin-bottom: 1%;
}
.education span, .job_experience span, .about_me span{
    font-weight: bolder;
    color: #2a2a2a;
}
.header_about_me{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    margin: 1% 0;
}

/*оформление todo*/
.todo_header{
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Geologica', sans-serif;
    padding-left: 3%;
}
summary::marker{
    display:none;
}
summary:after {
    content: "+";
    margin-right: 3%;
    text-decoration: none;
}
details[open] > summary:after {
    content: "–";
    display: flex;
    align-items: center;
}
summary{
    cursor: pointer;
}
.todo_line{
    display: flex;
    border: 1px solid #d2cccc;
    border-radius: 20px;
    margin: 0.5% 3%;
    align-items: center;
}
.todo_line img{
    width: 48px;
    padding-right: 5%;
    padding-left: 1%;
}
.todo_action{
    flex: 2;
}
.todo_notes{
    flex: 1;
    /*font-family: Indie Flower;*/
    text-align: left;
    padding-left: 5%;
}